.reaction-list {
    margin: 10px 20px;
  }
  
  .reaction-list ul {
    list-style-type: none;
    padding: 0;
  }
  
  .reaction-list li {
    margin-bottom: 5px;
  }
  
  .reaction-list a {
    text-decoration: none;
    color: #007BFF;
  }
  
  .reaction-list a:hover {
    text-decoration: underline;
  }
  